Package: wps-installer
Version: 1.0.0-1big4
Depends: bigbashview, rxvt-unicode, wget
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Section: admin
Priority: optional
Installed-Size:100
Description: Automatic download and install WPS office.

